$font-family-roboto: "Roboto", sans-serif;
$font-size-text: 14px;

$gray: #585858;
$gray-2: #393939;
$gray-3: #707275;
$gray-4: #C8C8C8;
$light-gray: #F4F4F4;
$input-gray: #F2F2F2;

$white: #fff;

$breakpoint-tablet: 800px;

$media-bp-lt-tablet: " (max-width: #{$breakpoint-tablet - 1})";
